{% load i18n crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Habeas.me</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <link href="../../../static/css/bootstrap.min.css" rel="stylesheet">
  <link href="../../../static/css/style.css" rel="stylesheet">
  <script type="text/javascript" src="../../../static/js/jquery.min.js"></script>
  <script type="text/javascript" src="../../../static/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
  <div class="row clearfix">
    <div class="col-md-12 column">
      <div class="page-header">
        <h1>
          Example page header <small>Subtext for header</small>
        </h1>
      </div>
      <ul class="nav nav-tabs">
        <li class="active"><a href="#about" data-toggle="tab">{% trans '¿Qué es Habeas.me?' %}</a></li>
        <li class=""><a href="#form" data-toggle="tab">{% trans 'Buscar' %}</a></li>
      </ul>
      <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="about">
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </div>
        <div class="tab-pane fade" id="form">
          {% crispy form %}
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
